# Игнорировать node_modules — зависимости проекта
node_modules/

# Игнорировать файлы сборки или временные файлы (если есть)
dist/
build/

# Игнорировать файлы логов
*.log

# Игнорировать файлы окружения (если есть)
.env

# Игнорировать кеши IDE (например, VSCode)
.vscode/

# Игнорировать файлы временных данных или кэша
.cache/

.netlify